@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <h3 style="text-align:center">Property Management System</h3>
    <p style="padding:33px">
        <img src="https://cdn.pixabay.com/photo/2017/07/08/02/16/house-2483336__340.jpg" style="height: 300px;width:300px"/>
        <img src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?cs=srgb&dl=pexels-binyamin-mellish-186077.jpg&fm=jpg" style="height: 300px;width:300px" />
        <img src="https://www.investopedia.com/thmb/yykxeXgS1D1U8NHWKTbWo0jaMRA=/680x440/filters:fill(auto,1)/houses_and_land-5bfc3326c9e77c0051812eb3.jpg" style="height: 300px;width:300px" />
        <img src="https://images.unsplash.com/photo-1600585154340-be6161a56a0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvcGVydHl8ZW58MHx8MHx8&w=1000&q=80" style="height: 300px;width:300px" />
     </p>
</div>
